<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blue-Green Test Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="css/w3full.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

    <header class="w3-container green">
        <h1>Welcome to Cloud Foundry Meetup</h1>
    </header>

    <p>Tonight is all about</p>
    <ul>
        <li>Continuous integration</li>
        <li>Continuous delivery</li>
        <li>Continuous deployment</li>
    </ul>

    <footer class="w3-container green">
        <h5>Footer</h5>
        <p>Footer information goes here...</p>
    </footer>

</body>

</html>
