<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Blue-Green Test Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/w3full.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

	<header class="w3-container w3-center green">
		<h2>June Cloud Foundry Community Meetup</h2>
	</header>

	<div class="w3-card-2 w3-margin-16 w3-center" style="width:310px;hieght:220px;">
		<img src="images/oss-logo-cf.png" alt="" style="width:300px;height:217px;"></img>
	</div>

	<div class="w3-padding yellow">
		<h3>Tonight...</h3>
		<ul>
			<li>Continuous integration</li>
			<li>Continuous delivery</li>
			<li>Continuous deployment</li>
		</ul>
	</div>

	<footer class="w3-container green">
		<p>Next month we will talk about...</p>
	</footer>

</body>

</html>
